.vaderMaskTop {
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 75%, rgba(19,19,19,1) 100%);
    width: 45%;
    height: 45%;
    display: flex;
    box-shadow: 
    inset -2px 0px 1px 0.2px rgb(92, 92, 92)
  }
  
  .vaderMaskTopL {
    width: 45%;
    height: 100%;
  }
  
  .vaderMaskTopC {
    width: 10%;
    height: 100%;
    border-right: solid 1px rgb(1, 1, 1);
    box-shadow: 
    inset -2px 0px 1px 0.1px rgb(18, 18, 18)
  }
  
  .vaderMaskTopR {
    width: 45%;
    height: 100%;
  }
  
  
  
  
  
  
  
  .vaderMaskBottom {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 75%, rgba(19,19,19,1) 100%);
    width: 60%;
    height: 55%;
    
    clip-path: polygon(
      10%      0%,
      90%      0%,
      100%     70%,
      70%      90%,
      50%      100%,
      30%      90%,
      0%       70% 
    );
  
    display: flex;
    margin: -10px
  }
  
  .maskFullLeft {
    width: 7%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 75%, rgba(19,19,19,1) 100%);
    box-shadow: 
    inset -1px 0px 1px 1px rgb(1, 1, 1),
    inset -1px 0px 3px 1px rgb(2, 2, 2),
    inset -1px 0px 10px 10px rgb(5, 5, 5),
    inset -1px 0px 15px 20px rgb(10, 15, 20)
  }

  .maskFullRight {
    width: 7%;
    height: 100%;
    background: transparent;
    box-shadow: 
    inset -2px 0px 1px 0.2px rgb(92, 92, 92)
    
  }
  
  .maskLeft,
  .maskRight {
    width: 12.5%;
    height: 95%;
    background: transparent;
    align-self: flex-end;
    clip-path: polygon(
      50%     0%,
      100%    100%,
      0%      100%
    );
    box-shadow: 
    inset -2px 0px 1px 0.2px rgb(92, 92, 92)
  }
  
  .maskMain {
    width: 80%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 75%, rgba(19,19,19,1) 100%);
  
    clip-path: polygon(
      20%     0%,
      48%     5%,
      52%     5%,
      80%     0%,
      100%    15%,
      70%     85%,
      50%     100%,
      30%     85%,
      0%      15%
    );
  }
  
  .eyes {
    width: 100%;
    height: 30%;
    display: flex;
    gap: 5%;
    padding: 5%
  }
  
  .left-eye {
    width: 45%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 75%, rgba(19,19,19,1) 100%);
    border-top-left-radius: 75%;
    box-shadow: inset 2px 2px 2px rgb(3, 3, 3);
  }
  
  .between-eyes {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .between-eyes > div {
    width: 90%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 75%, rgba(19,19,19,1) 100%);
  }
  
  .right-eye {
    width: 45%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 75%, rgba(19,19,19,1) 100%);
    border-top-right-radius: 75%;
    box-shadow: inset 1px 2px 5px rgb(10, 13, 13);
  }
  
  .nose {
    width: 100%;
    height: 10%;
    display: grid;
    place-items: center;
  }
  
  .nose-dot {
    width: 10%;
    height: 100%;
    border-radius: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 75%, rgba(19,19,19,1) 100%);
    box-shadow: inset 1px 1px rgb(15, 15, 15);
  }
  
  .mouth {
    width: 100%;
    height: 60%;
  }
  
  .mouth-triangle {
    width: 100%;
    height: 100%;
    clip-path: polygon(
      50%     0%,
      100%    100%,
      0%      100%
    );
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 75%, rgba(19,19,19,1) 100%);
    display: flex;
    flex-direction: column;
  }
  
  .mouth-top {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    gap: 1vmin;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 75%, rgba(19,19,19,1) 100%);
  }
  
  .mouth-top > div {
    width: 5%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(126deg, rgba(0,0,0,1) 45%, rgba(19,19,19,1) 100%);
  }
  
  .mouth-bottom {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20%
  }
  
  .mouth-bottom > div {
    width: 90%;
    height: 5%;
    background-color: rgb(24, 19, 19);
  }
  