

.right-arm-shape {
    width: 50%;
    height: 100%;
    position: relative;
}

.right-arm {
    width: 100%;
    height: 80%;
    background: rgb(0,0,0);
    background: linear-gradient(262deg, rgba(0,0,0,1) 44%, rgba(23,23,23,1) 100%);
    clip-path: polygon(
        10%        0%,
        90%        0%,
        95%        40%,
        96%        41%,
        97%        42%,
        98%        43%,
        99%        44%,
        100%       45%,
        75%        100%,
        35%        100%,
        25%        40%
    );
    position: relative;
}

.right-hand {
    width: 500%;
    height: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    transform: rotate(-5deg);
    right: 0;
    bottom: 5
}

.lightsaber {
    width: 87%;
    height: 30%;
    position: relative;
    background-color: white;
    box-shadow: 
    0 0 1px red,
    0 0 2px red,
    0 0 3px red,
    0 0 5px red,
    0 0 7px red,
    0 0 12px red,
    0 0 15px red,
    0 0 25px red,
    0 0 30px red,
    0 0 45px red,
    0 0 50px red,
    0 0 70px red;
    z-index: 50;
    border-radius: 15% 0 0 15%;
}

.hand {
    width: 8%;
    height: 80%;
    align-self: flex-start;
    background: rgb(0,0,0);
    background: linear-gradient(262deg, rgba(0,0,0,1) 44%, rgba(23,23,23,1) 100%);
    transform: rotate(10deg);
}

.saber-end {
    width: 5%;
    height: 30%;
    background-color: black;
    position: relative;
    right: 0.2%
}