.torso {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;

    clip-path: polygon(
        30%         0%,
        70%         0%,
        100%        20%,
        100%        100%,
        0%          100%,
        0%          20%
    );
    position: relative;
    overflow: visible
}

.torso-top {
    width: 100%;
    height: 20%;
    background: rgb(0,0,0);
    background: linear-gradient(126deg, rgba(0,0,0,1) 45%, rgba(32,32,32,1) 100%);
    display: flex;
    justify-content: space-evenly;
    box-shadow: inset -3px 0px 5px gray,
    -5px 0px 2px 2px gray
}

.torso-top > div {
    width: 5%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(119deg, rgba(0,0,0,1) 82%, rgba(32,32,32,1) 100%);
    opacity: 0.6;
}

.torso-bottom {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.left-arm {
    width: 15%;
    height: 50%;
    position: relative;
    z-index: 5;
    left: 5%;
}

.left-arm-shape {
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(94deg, rgba(0,0,0,1) 51%, rgba(32,32,32,1) 100%);
    clip-path: polygon(
        0%         0%,
        100%       0%,
        95%        10%,
        90%        15%,
        85%        100%,
        15%        100%
    );
}

.right-arm {
    width: 40%;
    height: 100%;
    position: absolute;
    z-index: 10;
    right: 50vmax;
    top: 0;
    right: 0;
}

.armor {
    width: 70%;
    height: 100%;
    position: relative;
    z-index: 5;
}

.armor-shape {
    width: 100%;
    height: 100%;
    clip-path: polygon(
        0%      0%,
        100%    0%,
        95%     5%,
        90%     100%,
        10%     100%,
        5%      5%  
    );

    background: rgb(0,0,0);
    background: linear-gradient(94deg, rgba(0,0,0,1) 29%, rgba(29,29,29,1) 100%);
}

.armor-top {
    width: 100%;
    height: 80%;
    display: grid;
    place-items: center;
}

.armor-top-line {
    width: 30%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(126deg, rgba(0,0,0,1) 45%, rgba(32,32,32,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.armor-above-cpu {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-evenly
}

.armor-above-cpu > div {
    width: 10%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(126deg, rgba(0,0,0,1) 45%, rgba(32,32,32,1) 100%);
}

.armor-cpu {
    width: 90%;
    height: 25%;
    background: rgb(0,0,0);
    background: linear-gradient(126deg, rgba(0,0,0,1) 45%, rgba(32,32,32,1) 100%);
    display: flex;
    flex-direction: column;
}

.armor-cpu-top {
    width: 100%;
    height: 60%;
    display: flex;
}

.armor-cpu-top-left,
.armor-cpu-top-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.armor-cpu-top-left > div {
    width: 80%;
    height: 15%;
    background-color: white;
    box-shadow: 
    0 0 1px red,
    0 0 2px red,
    0 0 3px red,
    0 0 5px red,
    0 0 7px red,
    0 0 12px red;
}

.red {
    width: 50%;
    height: 25%;
    background-color: white;
    box-shadow: 
    0 0 1px red,
    0 0 2px red,
    0 0 3px red,
    0 0 5px red,
    0 0 7px red,
    0 0 12px red;
}

.green {
    width: 50%;
    height: 25%;
    background-color: white;
    box-shadow: 
    0 0 1px green,
    0 0 2px lightgreen,
    0 0 3px lightgreen,
    0 0 5px green,
    0 0 7px lightgreen,
    0 0 12px lightgoldenrodyellow;
}

.armor-cpu-bottom {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;
}

.armor-cpu-bottom > div:nth-child(1) {
    width: 25%;
    height: 90%;
    background: rgb(0,0,0);
    background: linear-gradient(126deg, rgba(0,0,0,1) 45%, rgba(32,32,32,1) 100%);
}

.armor-cpu-bottom > div {
    width: 25%;
    height: 90%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 44%, rgba(76,76,76,1) 100%);
}

.armor-bellow-cpu {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
}

.armor-bellow-cpu > div {
    width: 10%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(126deg, rgba(0,0,0,1) 45%, rgba(32,32,32,1) 100%);
}

.armor-bottom {
    width: 100%;
    height: 20%;
    display: grid;
    place-items: center;
}

.belt {
    width: 100%;
    height: 75%;
    background: rgb(0,0,0);
    background: linear-gradient(126deg, rgba(0,0,0,1) 45%, rgba(32,32,32,1) 100%);
}



